# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitmodules                                        :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: jaleman <jaleman@student.42.us.org>        +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2017/08/11 21:25:55 by jaleman           #+#    #+#              #
#    Updated: 2017/08/11 21:25:55 by jaleman          ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# ---------------------------------------------------------------------------- #
# 42 Exams Repositories                                                        #
# ---------------------------------------------------------------------------- #

[submodule "exams/c-beginner-exam"]
    path = exams/c-beginner-exam
    url = https://github.com/jraleman/42_Exam-C/

[submodule "exams/starfleet-exam"]
    path = exams/starfleet-exam
    url = https://github.com/jraleman/42_Exam-Starfleet/

# ---------------------------------------------------------------------------- #
# 42 Piscines Repositories                                                     #
# ---------------------------------------------------------------------------- #

[submodule "piscines/piscine-c"]
    path = piscines/piscine-c
    url = https://github.com/jraleman/42_Piscine-C/

[submodule "piscines/piscine-cpp"]
    path = piscines/piscine-cpp
    url = https://github.com/jraleman/42_Piscine-CPP/

[submodule "piscines/piscine-starfleet"]
    path = piscines/piscine-starfleet
    url = https://github.com/jraleman/42_Piscine-Starfleet/

# [!] To be completed

[submodule "piscines/php-piscine"]
    path = piscines/php-piscine
    url = https://github.com/jraleman/42_Piscine-PHP/

# ---------------------------------------------------------------------------- #
# 42 Projects Repositories                                                     #
# ---------------------------------------------------------------------------- #

# General projects

[submodule "projects/libft"]
    path = projects/libft
    url = https://github.com/jraleman/42_Libft/

[submodule "projects/fillit"]
    path = projects/fillit
    url = https://github.com/jraleman/42_Fillit/

[submodule "projects/get_next_line"]
    path = projects/get_next_line
    url = https://github.com/jraleman/42_get_next_line/

# Graphics projects

[submodule "projects/fdf"]
    path = projects/fdf
    url = https://github.com/jraleman/42_FDF/

[submodule "projects/fractol"]
    path = projects/fractol
    url = https://github.com/jraleman/42_Fractol/

[submodule "projects/wolf3d"]
    path = projects/wolf3d
    url = https://github.com/jraleman/42_Wolf3d/

# Algorithm

[submodule "projects/ft_printf"]
    path = projects/ft_printf
    url = https://github.com/jraleman/42_ft_printf/

[submodule "projects/lem-in"]
    path = projects/lem-in
    url = https://github.com/jraleman/42_Lem-in/

# Group

[submodule "projects/rushes"]
    path = projects/rushes
    url = https://github.com/jraleman/42_Rushes/

[submodule "projects/ft_db"]
    path = projects/ft_db
    url = https://github.com/jraleman/42_ft_db/

[submodule "projects/kift"]
    path = projects/kift
    url = https://github.com/jraleman/42_Kift/

# Misc

[submodule "projects/dashes"]
    path = projects/dashes
    url = https://github.com/jraleman/42_Dashes/

[submodule "projects/hercules"]
    path = projects/hercules
    url = https://github.com/jraleman/42_Hercules/

[submodule "projects/walking_marvin"]
    path = projects/walking_marvin
    url = https://github.com/jraleman/42_Walking_Marvin/

# [!] To be completed

[submodule "projects/mod1"]
    path = projects/mod1
    url = https://github.com/jraleman/42_Mod1/

[submodule "projects/docker-1"]
    path = projects/docker-1
    url = https://github.com/jraleman/42_Docker-1/

[submodule "projects/ft_ls"]
    path = projects/ft_ls
    url = https://github.com/jraleman/42_ft_ls/

[submodule "projects/minishell"]
    path = projects/minishell
    url = https://github.com/jraleman/42_Minishell/
